/*
_______________________________________________________________________________
fonts                                                                          |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

@font-face {
  font-family: 'roboto';
  src: local('roboto'), local('roboto-regular'),
      url('../fonts/roboto.woff2') format('woff2'),
      url('../fonts/roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: local('roboto medium'), local('roboto-medium'),
      url('../fonts/robotomedium.woff2') format('woff2'),
      url('../fonts/robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'roboto';
  src: local('roboto bold'), local('roboto-bold'),
      url('../fonts/robotobold.woff2') format('woff2'),
      url('../fonts/robotobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*
_______________________________________________________________________________
variables                                                                      |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

:root {
  --page-color-primary: #849d8f;
  --page-color-secondary: #8996a6;
  --page-color-tertiary: #9d8b84;

  --color-white: #ffffff;
  --color-white-20a: rgba(255, 255, 255, 0.2);
  --color-white-40a: rgba(255, 255, 255, 0.4);;
  --color-white-50a: rgba(255, 255, 255, 0.5);
  --color-white-80a: rgba(255, 255, 255, 0.8);

  --color-black-03a: rgba(50, 50, 50, 0.3);

  --color-grey-lightes: #f8f7f4;
  --color-grey-medium: #5a5a5a;
  --color-grey-dark: #323232;

  --color-orange-light: #f26843;
  --color-orange-medium: #e74a35;

  --button-gradient: linear-gradient(
      180deg,
      var(--color-orange-light) 0%,
      var(--color-orange-medium) 100%
    );
}

/*
_______________________________________________________________________________
global                                                                         |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'roboto', 'arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-white) ;
  background-color: var(--page-color-primary);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
_______________________________________________________________________________
button and input adn link                                                      |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.main-btn {
  border: none;
  padding: 10px 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background-color: #e74a35;
  background-image: var(--button-gradient);
  color: var(--color-white);
  border-radius: 70px;
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  z-index: 10;
}

/* .main-btn--breakout {
  position: static;
}

.main-btn,
.main-btn--breakout::before {
  cursor: pointer;
}

.main-btn--breakout::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.main-btn__transition {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: 0px 2px 2px #ac1000;
  border-radius: 70px;
  transition: 0.2s;
  z-index: -1;
}

.main-btn:focus .main-btn__transition,
.main-btn:hover .main-btn__transition {
  opacity: 1;
}

.main-btn:active {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.main-btn:active .main-btn__transition {
  opacity: 0;
}

.main-btn--big {
  padding: 10px 40px;
  font-size: 32px;
  line-height: 44px;
}

.main-input {

}

.main-link {

}

.main-link--black {
  color: var(--color-grey-dark);
}

/*
_______________________________________________________________________________
header                                                                         |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.page-header {
}

.page-header__logo {
}

.page-header__nav {
}

.page-header__dangling {
}

/*
_______________________________________________________________________________
navigation                                                                     |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.main-nav {
  font-size: inherit;
  line-height: 18px;
  font-weight: 700;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list--main {
}

.main-nav__list--main .main-nav__link:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px #696969;
}

.main-nav__list--lvl2 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.main-nav__list--user {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.main-nav__item {
}

.main-nav__item--special {
  line-height: 18px;
  font-weight: 700;
}

.main-nav__item--btn {
}

.main-nav__item--dropdown {
}

.main-nav__link {
  display: block;
  padding: 10px 12px;
  color: var(--color-white);
  /* border-bottom: 2px solid var(--color-grey-dark-03a); */
}

.main-nav__link--btn {
  border-bottom: none;
}

.main-nav__link:focus,
.main-nav__link:hover {
  color: var(--color-grey-dark);
  background-color: var(--color-white);
  border-bottom: none;
  border-radius: 26px;
}

.main-nav__link:focus {
  outline: none;
}

.main-nav__link--is-current {
  background: #d07058;
  border-bottom: none;
  border-radius: 26px;
}

.main-nav__link--form {
}

.main-nav__link--btn {
  background-color: var(--color-white-20a);
  border-radius: 20px;
}

.main-nav__link--full-card {
  color: var(--color-grey-dark);
  background-color: var(--color-white);
  border-bottom: none;
  border-radius: 26px;
}

.main-nav__list--lvl2 .main-nav__link {
  border-bottom: none;
  border-radius: 0;
}

.main-nav__list--lvl2 .main-nav__link:focus,
.main-nav__list--lvl2 .main-nav__link:hover {
  background-color: #fbded7;
}

.main-nav__list--lvl2 .main-nav__link:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.main-nav__link--full-card .svg__path-outer {
  fill: var(--color-grey-dark);
}

.main-nav__link--btn:focus .svg__path-outer,
.main-nav__link--btn:hover .svg__path-outer {
  fill: var(--color-grey-dark);
}

.svg--full-cart .svg__path-inner {
  fill: var(--color-orange-medium);
}

.main-nav__icon {
}

.main-nav__form {
}

.main-nav__form-inner {
}

.main-nav__input {
}

.main-nav__cart {
}

/*
_______________________________________________________________________________
dangling                                                                       |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.header-dangling {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

}

.header-dangling__link {
  font-size: 22px;
  line-height: 24px;
  color: inherit;
}

/*
_______________________________________________________________________________
main                                                                           |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.page-main {
}

/*
_______________________________________________________________________________
slider                                                                         |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.slider {
  position: relative;
}

.slider::before {
  content: '';
  display: block;
  position: absolute;
  width: 716px;
  height: 716px;
  background: rgba(215, 242, 227, 0.75);
  filter: blur(250px);
  z-index: -1;
}

.slider__slides {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__slide {
}

.slider__title {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-align: center;

}

.slider__picture {
}

.slider__btn {}

.slider__dots {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__dot-item {}

.slider__dot {
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid var(--color-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider__dot:not(.slider__dot--current):focus,
.slider__dot:not(.slider__dot--current):hover {
  background-color: var(--color-white-40a);
  transition: 0.2s;
}

.slider__dot--current {
  background-color: var(--color-white);
  cursor: default;
}

/*
_______________________________________________________________________________
promoution                                                                     |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.promo {}

.promo__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo__item {}

/*  */

.promo-card {
  font-weight: bold;
  color: var(--color-white, #ffffff);
}

.promo-card__title {
  font-size: 35px;
  line-height: 41px;
}

.promo-card__text {
  font-size: 18px;
  line-height: 22px;
}
.promo-card__btn {}

/*
_______________________________________________________________________________
bestsellers                                                                    |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.bestsellers {}

.bestsellers__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bestsellers__item {}

/*
_______________________________________________________________________________
product card                                                                   |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.product-card {}

.product-card:hover {
  background-color: var(--color-white-20a);
}

.product-card:hover .product-card__overlay {
  opacity: 1;
}

.product-card--breakout {
  position: relative;
}

.product-card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.product-card__link {
  color: var(--color-white);
}

.product-card__picture {}

.product-card__price {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
}

.product-card__price-subscript {
  font-size: 30px;
  line-height: 35px;
}

.product-card__overlay {
  opacity: 0;
}

.product-card__overlay:focus-within {
  opacity: 1;
}


/*
_______________________________________________________________________________
advantages                                                                     |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.advantages {
  background-image: url(../img/advantages-pattern.jpg);
  background-repeat: repeat;
  color: var(--color-grey-dark);
}

.advantages__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.advantages__item {
  position: relative;
  padding-left: 55px;
}

.advantages__item::before {
  content: '';
  position: absolute;
  display: inline-flex;
  width: 49px;
  height: 49px;
  left: 0;
  background-color: transparent;
  border: 2px solid var(--color-grey-dark);
  border-radius: 50%;
}

/*
_______________________________________________________________________________
news                                                                           |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.news {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-grey-dark);
  background-color: var(--color-white);
  border-radius: 16px;
}

.news__title {
}

/*
_______________________________________________________________________________
blog-article                                                                   |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.blog-article {}

.blog-article__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.blog-article__link {
  color: inherit;
  text-decoration: underline;
}

/*
_______________________________________________________________________________
mailing                                                                        |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.mailing {
  display: flex;
  background-image: url(../img/mailing-pattern.jpg);
  border-radius: 16px;
  color: var(--color-grey-medium);
}

.mailing__inner {
  margin: 10px;
  border-radius: 16px;
  background-color: var(--color-grey-lightes);
}

.mailing__heading {}

.mailing__form {}

.mailing__input {}

.mailing__btn {}

/*
_______________________________________________________________________________
contacts                                                                       |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.contacts {}

.contacts__breakout {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-grey-dark);
  background-color: var(--color-white);
  border-radius: 16px;
}

.contacts__addr {
  font-style: normal;
}
.contacts__inner {}

.contacts__inner b {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.contacts__inner a {
  color: inherit;
}

/*
_______________________________________________________________________________
footer                                                                         |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.main-footer {}

.main-footer__social {}

.main-footer__info {}

.main-footer__copyright {}

/*
_______________________________________________________________________________
social                                                                         |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.social {}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__item {}

.social__btn {}

/*
_______________________________________________________________________________
information                                                                    |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.information {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.information__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.information__item {}

.information__item--special {
  font-weight: bold;
}

.information__link {
  color: var(--color-white);
}

/*
_______________________________________________________________________________
breadcrumb                                                                    |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.breadcrumb {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumb__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb__item {}

.breadcrumb__link {
  color: var(--color-white);
}

.breadcrumb__link--is-current {}

.filter {}

.filter__form {}

.filter__fieldset {}

.filter__heading {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter__item {}

/*
_______________________________________________________________________________
castom-action                                                                  |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.custom-action {}

.custom-action--radio {}

.custom-action--checkbox {}

.custom-action {}

.custom-action__input {}

.custom-action__input--radio {}

.custom-action__input--checkbox {}

.custom-action__icon {}

.custom-action__icon--on {
  display: none;
}

.custom-action__icon--off {
}

.custom-action__icon--radio {}

.custom-action__icon--checkbox {}

.custom-action__path-outer {}

.custom-action__path-inner {
  opacity: 0;
}

.custom-action__label {}

.custom-action__label--radio {}

.custom-action__label--checkbox {}

/*
_______________________________________________________________________________
products                                                                       |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.products {}

.products__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.products__item {}

/*
_______________________________________________________________________________
pagination                                                                       |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.pagination {}

.pagination__btn {}

.pagination__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination__item {
}

.pagination__link {
  color: var(--color-white);
}

.pagination__link--is-current {
  background-color: var(--color-white);
  color: var(--color-grey-dark);
  border-radius: 50%;
}

/*
_______________________________________________________________________________
htmlacademy                                                                    |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.htmlacademy {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.htmlacademy__link {
  color: var(--color-white);
}
