/*
_______________________________________________________________________________
fonts                                                                          |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-regular'),
      url('../fonts/roboto.woff2') format('woff2'),
      url('../fonts/roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto medium'), local('Roboto-medium'),
      url('../fonts/robotomedium.woff2') format('woff2'),
      url('../fonts/robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto bold'), local('Roboto-bold'),
      url('../fonts/robotobold.woff2') format('woff2'),
      url('../fonts/robotobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/*
_______________________________________________________________________________
variables                                                                      |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

:root {
  --page-color-primary: #849d8f;
  --page-color-secondary: #8996a6;
  --page-color-tertiary: #9d8b84;

  --color-white: #ffffff;
  --color-white-20a: rgba(255, 255, 255, 0.2);
  --color-white-40a: rgba(255, 255, 255, 0.4);;
  --color-white-50a: rgba(255, 255, 255, 0.5);
  --color-white-80a: rgba(255, 255, 255, 0.8);

  --color-black-03a: rgba(50, 50, 50, 0.3);

  --color-grey-lightes: #f8f7f4;
  --color-grey-medium: #5a5a5a;
  --color-grey-dark: #323232;

  --color-orange-light: #f26843;
  --color-orange-medium: #e74a35;

  --button-gradient: linear-gradient(
      180deg,
      var(--color-orange-light) 0%,
      var(--color-orange-medium) 100%
    );
}

/*
_______________________________________________________________________________
global                                                                         |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-white) ;
  background-color: var(--page-color-primary);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

/*
_______________________________________________________________________________
button and input adn link                                                      |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.main-btn {
  border: none;
  padding: 10px 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  background-color: #e74a35;
  background-image: var(--button-gradient);
  color: var(--color-white);
  border-radius: 70px;
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  z-index: 10;
}

.main-btn--big {
  padding: 10px 40px;
  font-size: 32px;
  line-height: 44px;
}

/* .main-btn--breakout {
  position: static;
}

.main-btn,
.main-btn--breakout::before {
  cursor: pointer;
}

.main-btn--breakout::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.main-btn__transition {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: 0px 2px 2px #ac1000;
  border-radius: 70px;
  transition: 0.3s;
  z-index: -1;
}

.main-btn:focus .main-btn__transition,
.main-btn:hover .main-btn__transition {
  opacity: 1;
}

.main-btn:active {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.main-btn:active .main-btn__transition {
  opacity: 0;
}

.main-input {
  display: block;
  width: 100%;
  height: 44px;
  padding: 10px 15px;
  font-family: inherit;
  font-weight: normal;
  font-size: inherit;
  line-height: 16px;
  border: 1px solid #D3D3D2;
  border-radius: 4px;
}

.main-link {

}

.main-link--black {
  color: var(--color-grey-dark);
}

/*
_______________________________________________________________________________
header                                                                         |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.header {
  position: relative;
  padding-top: 9px;
}

.header-dangling {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.header-dangling p {
  margin: 0;
  margin-bottom: 7px;
}

.header-dangling__link {
  font-size: 22px;
  line-height: 24px;
  color: inherit;
}

.header-dangling__link:focus,
.header-dangling__link:hover,
.header-dangling__link:active {
  color: #FFBC9E
}

/*
_______________________________________________________________________________
navigation                                                                     |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.main-nav {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__list--menu {
  gap: 0 4px;
}

.main-nav__list--menu .main-nav__dropdown {
  padding: 5px 0;
}

.main-nav__list--user {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  gap: 0 10px;
}

.main-nav__list--lvl2 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.main-nav__item {
}

.main-nav__item--btn {
}

.main-nav__item--dropdown {
  position: relative;
}

.main-nav__dropdown {
  min-width: 143px;
  padding: 20px 15px;
  position: absolute;
  top: 36px;
  display: none;
  color: var(--color-grey-dark);
  background-color: var(--color-white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  z-index: 100;
}

.main-nav__dropdown--left {
  left: -6px;
}

.main-nav__dropdown--right {
  right: 0;
}

.main-nav__dropdown::before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 100%;
  left: 0;
}

.main-nav__link {
  display: inline-block;
  padding: 6px 14px 8px;
  color: var(--color-white);
  background-color: transparent;
  border-radius: 26px;
  /* border-bottom: 2px solid rgba(255, 255, 255, 0.2); */
}

.main-nav__list--menu .main-nav__link {
  position: relative;
}

.main-nav__list--menu .main-nav__link::after {
  content: "";
  position: absolute;
  right: 14px;
  bottom: 8px;
  left: 14px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.main-nav__link:focus {
  outline: none;
}

.main-nav__link:focus,
.main-nav__link:hover,
.main-nav__btn:focus,
.main-nav__btn:hover {
  color: var(--color-grey-dark);
  background-color: var(--color-white);
  transition: 0.3s;
}

.main-nav__link:focus.main-nav__link::after,
.main-nav__link:hover.main-nav__link::after {
  display: none;
}

.main-nav__link:active,
.main-nav__btn:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px #696969;
}

.main-nav__link:active.main-nav__link::after {
  display: none;
}

.main-nav__link--is-current {
  background-color: #d07058;
}
.main-nav__link--is-current.main-nav__link::after {
  display: none;
}

.main-nav__btn {
  min-width: 32px;
  min-height: 32px;
  padding: 0 8px;
  display: inline-flex;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-white-20a);
  border-radius: 26px;
  cursor: pointer;
}

.main-nav__btn--p016px {
  padding-right: 16px;
  padding-left: 16px;
}

.main-nav__btn--active {
  color: var(--color-grey-dark);
  background-color: var(--color-white);
  border-bottom: none;
}

.main-nav__link--form {
}

.main-nav__item--dropdown:focus-within .main-nav__dropdown,
.main-nav__item--dropdown:hover .main-nav__dropdown {
  display: block;
}

.main-nav__list--lvl2 .main-nav__item:not(:last-child) {
  padding-bottom: 5px;
}

.main-nav__list--lvl2 .main-nav__item--special {
  line-height: 18px;
  font-weight: 700;
}

.main-nav__list--lvl2 .main-nav__item--special::after {
  content: "";
  display: block;
  width: 128px;
  height: 1px;
  background-color: rgba(50, 50, 50, 0.2);
  margin-top: 3px;
  margin-left: 6px;
}

.main-nav__list--lvl2 .main-nav__link {
  display: block;
  padding: 5px 20px 6px;
  color: var(--color-grey-dark);
  border-radius: 0;
}

.main-nav__list--lvl2 .main-nav__link::after {
  display: none;
}

.main-nav__list--lvl2 .main-nav__link:focus,
.main-nav__list--lvl2 .main-nav__link:hover {
  background-color: #fbded7;
}

.main-nav__list--lvl2 .main-nav__link:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.main-nav__btn--active .svg__path-outer {
  fill: var(--color-grey-dark);
}

.main-nav__btn:focus .svg__path-outer,
.main-nav__btn:hover .svg__path-outer {
  fill: var(--color-grey-dark);
  transition: 0.3s;
}

.svg--full-cart .svg__path-inner {
  fill: var(--color-orange-medium);
}

.main-nav__icon {
  display: inline-flex;
}

.main-nav__form {
}

.main-nav__form-inner {
}

.main-nav__input {
}

.main-nav__cart {
}

.main-nav__btn--p016px .main-nav__icon {
  padding-right: 8px;
}

.main-nav > .main-nav__list {
  padding-bottom: 7px;
  display: flex;
}

.main-nav__search {
  width: 341px;
}

/*
_______________________________________________________________________________
main                                                                           |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.lg-main {
}

/*
_______________________________________________________________________________
slider                                                                         |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.slider {
  position: relative;
  padding-top: 272px;
}

.slider::before {
  content: '';
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -362px;
  width: 716px;
  height: 716px;
  background: rgba(215, 242, 227, 0.75);
  filter: blur(250px);
  z-index: -1;
}

.slider__slides {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.slider__picture {
  position: absolute;
  top: -40px;
  z-index: -1;
}

.slider__btn {}

.slider__dots {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__dot-item {}

.slider__dot {
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid var(--color-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider__dot:not(.slider__dot--current):focus,
.slider__dot:not(.slider__dot--current):hover {
  background-color: var(--color-white-40a);
  transition: 0.3s;
}

.slider__dot--current {
  background-color: var(--color-white);
  cursor: default;
}

/*
_______________________________________________________________________________
promoution                                                                     |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.promo {}

.promo__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 26px;
}

.promo__item {
  display: flex;
}

/*  */

.promo-card {
  min-height: 229px;
  padding: 13px 22px 22px 16px;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: min-content 1fr min-content;
  font-weight: bold;
  color: var(--color-white, #ffffff);
  border-radius: 16px;
}

.promo-card--background-1 {
  background-image: url(../img/promo-1.jpg);
  background-repeat: repeat;
}

.promo-card--background-2 {
  background-image: url(../img/promo-2.jpg);
  background-repeat: repeat;
}

.promo-card__title {
  grid-column: 1/-1;
  margin: 0;
  margin-bottom: 18px;
  font-size: 35px;
  line-height: 41px;
}

.promo-card__text {
  grid-column: 1/-1;
  margin: 0;
  margin-bottom: 17px;
  font-size: 18px;
  line-height: 22px;
}
.promo-card__btn {
  grid-column: -1/-2;
  padding: 12px 22px
}

/*
_______________________________________________________________________________
bestsellers                                                                    |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.bestsellers {
  z-index: 1;
  margin-top: -6px;
}

.bestsellers__list {
  list-style: none;
  margin: 0 -13px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.bestsellers__item {}

/*
_______________________________________________________________________________
product card                                                                   |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.product-card {
  display: grid;
  padding: 6px 13px 21px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content min-content;
  row-gap: 8px;
}

.product-card:hover {
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--color-white-20a);
}

.product-card:hover .product-card__overlay {
  opacity: 1;
}

.product-card--breakout {
  position: relative;
}

.product-card__title {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.product-card__link {
  color: var(--color-white);
}

.product-card__picture {
  grid-row: 1/2;
  grid-column: 1/-1;
}

.product-card__price {
  margin: 0;
  grid-row: 1/2;
  grid-column: 1/-1;
  align-self: end;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  z-index: 10;
}

.product-card__price-subscript {
  font-size: 30px;
  line-height: 35px;
}

.product-card__overlay {
  opacity: 0;
  text-align: center;
}

.product-card__overlay:focus-within {
  opacity: 1;
}


/*
_______________________________________________________________________________
advantages                                                                     |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.advantages {
  margin-top: -73px;
  padding: 24px 20px;
  border-radius: 16px;
  color: var(--color-grey-dark);
  background-image: url(../img/advantages-pattern.jpg);
  background-repeat: repeat;
}

.advantages__heading {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px 26px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.advantages__item {
  position: relative;
  padding-left: 55px;
}

.advantages__item p {
  margin: 0;
}

.advantages__item::before {
  content: '';
  position: absolute;
  display: inline-flex;
  width: 49px;
  height: 49px;
  top: -8px;
  left: 0;
  background-color: transparent;
  border: 2px solid var(--color-grey-dark);
  border-radius: 50%;
}

/*
_______________________________________________________________________________
news                                                                           |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.news {
}

/*
_______________________________________________________________________________
blog-article                                                                   |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.blog-article {
  min-height: 220px;
  background-image: url('../img/article-bg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 17px 20px;
  color: var(--color-grey-dark);
  background-color: var(--color-white);
  border-radius: 16px;
}

.blog-article__title {
  margin: 0;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.blog-article__subtitle {
  width: 300px;
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.blog-article__link {
  color: inherit;
  text-decoration: underline;
}

/*
_______________________________________________________________________________
mailing                                                                        |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.mailing {
  display: flex;
  background-image: url(../img/mailing-pattern.jpg);
  border-radius: 16px;
  color: var(--color-grey-medium);
}

.mailing__inner {
  margin: 5px 6px;
  padding: 23px 20px;
  border-radius: 16px;
  background-color: var(--color-grey-lightes);
}

.mailing__heading {
  margin: 0;
  margin-bottom: 42px;
}

.mailing__form {
  display: flex;
  column-gap: 10px;
}

.mailing__input {}

.mailing__btn {
  min-width: 130px;
}

/*
_______________________________________________________________________________
contacts                                                                       |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.contacts {
  position: relative;
  display: grid;
}

.contacts__container {
  padding: 0;
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 330px;
}

.contacts__breakout {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  grid-row: 1/2;
  margin: auto 0;
  margin-right: 27px;
  padding: 30px 25px;
  color: var(--color-grey-dark);
  background-color: var(--color-white);
  border-radius: 16px;
  z-index: 10;
}

.contacts__addr {
  font-style: normal;
}

.contacts__inner {
  margin-bottom: 24px;
}

.contacts__inner p {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.contacts__inner b {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.contacts__inner a {
  color: inherit;
}

.contacts__map {
  grid-column: 1/3;
  grid-row: 1/2;
  /* z-index: -1; */
}

.contacts__spread {
  grid-row: 1/2;
  grid-column: 1/2;
}

/*
_______________________________________________________________________________
footer                                                                         |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.footer {
  padding-top: 18px;
}

.footer__social {
  padding-top: 16px;
}

.footer__info {
  padding-top: 14px;
  padding-left: 35px;
}

.footer__copyright {
  padding-left: 10px;
}

/*
_______________________________________________________________________________
social                                                                         |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.social {
}

.social__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 8px;
}

.social__item {
  width: 36px;
  height: 36px;

  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social__btn {
}

/*
_______________________________________________________________________________
information                                                                    |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.information {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.information__list {
  display: grid;
  grid-template-columns: max-content max-content;
  row-gap: 5px;
  column-gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.information__item {}

.information__item--special {
  font-weight: bold;
  position: relative;
}

.information__item--special::before {
  content: '';
  width: 15px;
  height: 13px;
  position: absolute;
  top: 4px;
  left: -22px;
  background-image: url("../img/icon-heart.svg");
}

.information__link {
  color: var(--color-white);
}

.htmlacademy {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.htmlacademy__logo {
}
/*
_______________________________________________________________________________
breadcrumb                                                                    |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.breadcrumb {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumb__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb__item {}

.breadcrumb__link {
  color: var(--color-white);
}

.breadcrumb__link--is-current {}

.filter {}

.filter__form {}

.filter__fieldset {}

.filter__heading {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filter__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter__item {}

/*
_______________________________________________________________________________
castom-action                                                                  |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.custom-action {}

.custom-action--radio {}

.custom-action--checkbox {}

.custom-action {}

.custom-action__input {}

.custom-action__input--radio {}

.custom-action__input--checkbox {}

.custom-action__icon {}

.custom-action__icon--on {
  display: none;
}

.custom-action__icon--off {
}

.custom-action__icon--radio {}

.custom-action__icon--checkbox {}

.custom-action__path-outer {}

.custom-action__path-inner {
  opacity: 0;
}

.custom-action__label {}

.custom-action__label--radio {}

.custom-action__label--checkbox {}

/*
_______________________________________________________________________________
products                                                                       |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.products {}

.products__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.products__item {}

/*
_______________________________________________________________________________
pagination                                                                       |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.pagination {}

.pagination__btn {}

.pagination__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination__item {
}

.pagination__link {
  color: var(--color-white);
}

.pagination__link--is-current {
  background-color: var(--color-white);
  color: var(--color-grey-dark);
  border-radius: 50%;
}

/*
_______________________________________________________________________________
htmlacademy                                                                    |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
*/

.htmlacademy {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

.htmlacademy__link {
  color: var(--color-white);
}
