.footer {
  padding-top: 12px;
  padding-bottom: 25px;

  &__social {
    padding-top: 16px;
  }

  &__info {
    padding-top: 14px;
    padding-left: 35px;
  }

  &__copyright {
    padding-left: 10px;
  }
}
